
<!DOCTYPE html>
<html>
<head>
  <title>TwitterClone</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="turbo-refresh-method" content="morph">
  <meta name="turbo-refresh-scroll" content="preserve">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body class="bg-gray-50">
<%= render "layouts/navbar" if user_signed_in? %>
  <div class="min-h-screen">
    <% render "layouts/flash" %>
  <main class="pb-16 sm:pb-0">
  <%= yield %>
  </main>
</div>
<turbo-frame id = "modal"></turbo-frame>
</body>
</html>